/* Layers DIV CSS */


#wrapperLayers {
  top: 78px;
  width: 300px;
  left: -322px;
  position: absolute;
  border: solid 1px #666;
  padding: 10px 20px;
  z-index: 2;
  -moz-border-radius: 2px;
  border-radius: 0px 10px 2px 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
  bottom: 38px;
}
#wrapperLayersExpand {
    width: 30px;
    height:5px;
    position: absolute;
    right: -1px;
    top: 40px;
    font-size: 0.8em;
    font-weight:bold;
    z-index: 3;
    cursor: pointer;
}

.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}