


#results {
   width: 300px;
   position: absolute;
   bottom: 40px;
   top: 50px;
   overflow-y: auto;
   overflow-x: hidden;
}
.popupdiv {
    width:800px;
    height:300px;
    overflow-y:auto;
    overflow-x:hidden;
    font-family: 'Questrial', sans-serf;
    font-size: 1.2em;
}
#back3 {
  background-image: url('../img/back.png');
  width:16px;
  height:16px;
  position:absolute;
  top:20px;
  right:20px;
  cursor: pointer;
}
#pagination {
  position: absolute;
  bottom:28px;
  height:20px;
  background-color:#4FC9C4;
  width: 300px;
  margin-top: 2px;
  font-size: 0.8em;
}
.resultentity {
    background-color: #008C87;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    color: #fff;
    cursor: pointer;
    margin:2px 3px;
}
.resultentity:hover {
    background-color: #4FC9C4;
    color:#fff;
}
#modalMessage {
  width:300px;
  height:200px;
  background-color: #fff;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.9);
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
  padding: 20px;
  position:absolute;
  left: 50%;
  top:50%;
  margin-left: -150px;
  margin-top: -100px;
  z-index: 10;
  display:none;
}
.viewQuery {
    float: right;
    margin-right: 7px;
    margin-top: 5px;
    cursor: pointer;
    width: 16px;
    height:16px;
    background-image: url('../img/info.png');
}
.viewQuery:hover {
    text-decoration: underline;
}
#modalMessage > #modalHeader {
  font-size: 1.2em;
  color: #FF6644;
  margin-bottom: 10px;
}
#modalMessage > #modalContent {
  font-size: 1.0em;
  color: #333;
}
#modalMessage > #close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  background-image: url('../img/close.png');
  cursor: pointer;
}

.sbar {
    padding:8px 15px;
    border: solid 1px #ccc;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width:255px;
    margin:5px;
    font-size: 16px;
    color:#999;
}
.subprop {
    text-decoration: underline;
    color: #4FC9C4;
    cursor: pointer;
}
#subclasses {
   width:100%;
   height:100%;
   overflow-y: auto;
   padding-right: 10px;
   overflow-x: hidden;
}
.proptext {
  padding: 4px 0px 4px 15px;
  margin-right: 10px;
  color:#333;
  margin-bottom:1px;
}
.proptext:hover {
    background-color: #29BBB5;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
}
.propinput {
    display: none;
    padding:5px 5px;
    border: solid 1px #ccc;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin:5px 0px;
    font-size: 1em;
    color:#333;
    width: 100px;
}
#about {
  float: right;
  margin: 25px 10px;
  font-size: 1.0em;
}
#properties {
   width:100%;
   height:100%;
   overflow-y: auto;
   overflow-x: hidden;
   font-size: 0.9em;
   padding-left: 10px;
   cursor: pointer;
   display: none;
}
#wrapperClassProp {
   width: 300px;
   position: absolute;
   bottom: 130px;
   top: 120px;
}
h2 {
    margin:0;
    margin-bottom:10px;
    padding:0;
}
h1 {
    font-weight:bold;
    font-size: 3em;
    color: #333333;
    margin: 10px 20px 0px 20px;
    letter-spacing: -2px;
    padding: 0px;
}
h3 {
    font-size: 0.8em;
    color: #666666;
    margin: 10px 0px 0px 5px;
}

#attributes {
  width: 100%;
  height:300px;
}
.att {
  height: 25px;
  width:50%;
  float: left;
}
.att > .t {
    width:200px;
    float: left;
    color: #999;
    cursor: pointer;
    
}
#wrapperFacets {
  border-radius: 3px;
  border: solid 1px #cccccc;
  height: 60px;
  width: 280px;
  background-color:#eee;
  padding: 10px;
  float: left;
}
.att > .on {
    color: #000;
    font-weight: bold;
}

.btn {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 13px 4px;
  color: #fff;
  background-color:#04B4AE;
  font-weight: bold;
  font-size: 1.2em;
  text-align:center;
  width: 290px;
  margin-left: 0px;
  margin-top: 20px;
  cursor: pointer;
}
.propertyon {
    background-color: #29BBB5;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#fff;
}
#btnLoading {
  display: none;
  background: url('../img/loading.gif');
  width:42px;
  height: 42px;
  margin-left: 220px;
  background-position: center;
}
.btn:hover{
  background-color: #29BBB5;
}
p {
   text-align:justify;
}